<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ziheng.system.sysmenu.mapper.SysMenuMapper">

    <resultMap id="BaseResultMap" type="com.ziheng.system.sysmenu.domain.SysMenu">
            <id property="menuId" column="menu_id" jdbcType="BIGINT"/>
            <result property="menuName" column="menu_name" jdbcType="VARCHAR"/>
            <result property="parentId" column="parent_id" jdbcType="BIGINT"/>
            <result property="menuSort" column="menu_sort" jdbcType="INTEGER"/>
            <result property="path" column="path" jdbcType="VARCHAR"/>
            <result property="component" column="component" jdbcType="VARCHAR"/>
            <result property="menuType" column="menu_type" jdbcType="CHAR"/>
            <result property="visible" column="visible" jdbcType="CHAR"/>
            <result property="status" column="status" jdbcType="CHAR"/>
            <result property="perms" column="perms" jdbcType="VARCHAR"/>
            <result property="icon" column="icon" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="delFlag" column="del_flag" jdbcType="CHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        menu_id,menu_name,parent_id,
        menu_sort,path,component,
        menu_type,visible,status,
        perms,icon,create_time,
        update_time,del_flag
    </sql>
    <select id="findMenuTreeByUserId" resultType="com.ziheng.system.sysmenu.domain.SysMenu">
        select distinct menu_id, menu_name, parent_id, menu_sort,name, path, component,menu_type,visible,status,perms,icon
        from sys_menu where menu_type in ('M','C') and status = '1' and del_flag = '0' ORDER BY parent_id, menu_sort;
    </select>
    <select id="findPermissionsByUserId" resultType="java.lang.String">
        select distinct perms
        from sys_menu
        where menu_id in
              (select menu_id
               from sys_role_menu
               where role_id in (select sr.role_id
                                 from sys_user_role sur
                                          join sys_role sr on sur.role_id = sr.role_id
                                 where sr.status = '1'
                                   and sr.del_flag = '0'
                                   and sur.user_id = #{userId}))
          and status = '1'
          and menu_type IN ('C', 'F')
          and del_flag = '0';
    </select>
</mapper>
